.DateRangePickerInput {
	border: none;
}

.DateInput_input {
	width: 100%;

	font-size: 14px;
	height: 32px;
	border-radius: 4px;
	border: solid 1px #e3e5e5;
	box-sizing: border-box;
	padding: 6px 10px;
	background-image: url('../icons/date-range.svg');
	background-size: 20px 20px;
	background-position: right 10px center;
	background-repeat: no-repeat;
}

.DateInput_input::placeholder {
	color: #212121;
}

.DateInput_input__focused {
	border: solid 1px #4ca6a8;
}

.DayPickerNavigation_button{border: none
}

.CalendarMonth_table{
	table{ font-family: NotoSansCJKKR;
		font-size: 14px;	padding: 0px 17px !important;

	}
	td{
		border: 1px solid transparent;
	}
}


.CalendarMonth_caption{
	font-size: 14px;
	font-weight: 500;  letter-spacing: 0.14px;font-family: NotoSansCJKKR;
padding:  10.5px 0;
	margin-bottom: 32px;
	border-bottom: solid 1px #e3e5e5;
	width: 100%;
}

.CalendarMonth{padding: 0px !important; }


//.CalendarDay__default {

//	border-radius: 50%;
//
//}
//
//.CalendarDay__default:hover {
//	background: transparent;
//	border: solid 1px #178082;
//	border-radius: 50%;
//}

.DayPickerKeyboardShortcuts_buttonReset {
	display: none;
}


.CalendarMonth{
display:flex;
flex-direction: column;}


.DayPicker_weekHeader{
	top: 50px;
padding: 0px !important;
}

.DayPickerNavigation_button__horizontalDefault{
top: 0px;padding: 9px 16px 8px 16px;
}
.DayPickerNavigation_leftButton__horizontalDefault{
left: 0px;

}
.DayPickerNavigation_rightButton__horizontalDefault{


}

