html,
body {
	margin: 0;
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.1px;
}

div,
section {
	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
}

table {
	border-collapse: collapse;
}

th,
td {
	padding: 0.5rem;
	border: 1px solid black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

.ReactModal__Overlay {
	z-index: 99999;
}
